
body {
    font-family: Arial;
}

#headerTop {
    color: white;
    padding: .8rem;
    background-color: #176bad;

}
#headerTop a {
    inline-size: 1rem;
} 
.inline-container {
    display: inline-block;
} 
/* can also do headerTop > div { display: inline-block; } this says 
that whatever divs are nested inside the headerTop will be selected. */
#headerTop span {
    margin-right: 0.5rem;
}

#uppercase {
    font-weight: bold;
    text-transform: uppercase;
}

#headerBottom {
    border-bottom: solid grey 1px;
    padding: 0.5rem;
}
#headerBottom > div {
    display: inline-block;
}

#compose {
    color: white;
    font-weight: bold;
    background-color: #176bad;
    padding: 0.4rem;
    border-radius: 3px;
    margin-right: 1rem;
    cursor: pointer;
}
#headerBottom button {
    padding: 0;
    border: none;
    background: none;
    margin-right: 1rem;
    cursor: pointer;
}   
#headerBottom button.active {
    font-weight: bold;
    border-bottom: 2px solid blue;
}
.email > div {
    display: inline-block;
}
.email {
    padding: 0.75rem;
    padding-left: 1rem;
    border-bottom: 2px solid rgb(153, 152, 152);
}
.email-name, .email-subject {
    width: 35%;
    
}
.email-date, .email-size, .email-check {
    width: 8%;
}
.email:nth-child(2) {
    font-weight: bold;
}